@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
$green:#198754;
$gray-100: #F8F9FA;
$gray-600:#6C757D;
$gray-400:#CED4DA;
a{
  font-weight: 900;
  text-decoration: none;
  color:#212529;
}
ul{
  list-style: none;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-26{
  margin-bottom: 26px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-44{
  margin-bottom: 44px;
}
.mr-8{
  margin-right: 9px;
}
.mr-16{
  margin-right: 16px;
}
.mr-26{
  margin-right: 26px;
}
.mr-48{
  margin-right: 48px;
}
.circle{border-radius: 50%;}
.green{
  color:$green;
}
span{
  color:$green;
  background: $gray-100;
  font-family: 'Roboto Mono';
  font-size: 14px;
}
.p-32{
  padding: 32px;
}
.sidebar{
  float: left;
  max-width: 296px;
  background: $gray-100;
  height: 100vh;
  .sidebar-top{
    ul{
      padding-left: 0;
    }
  }
  .user{
    .user-text{
      font-size: 14px;
      color:$gray-600;
    }
  }
}
.main{
  float: left;
  max-width: 984px;
  margin: auto;
  .link{
    .link-title{
      font-size: 24px;
    }
  }
  .list-group{
    .active {
      background: #F8F9FA;
      color: #212529;
      border: 1px solid #CED4DA;
    }
  }
}
.button-group{
  text-align: right;
}
.card-title{
  font-size: 16px;
  font-weight: 900;
}
.card-header-group{
  line-height: 0;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 17px;
  .card-header-title{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }
  .card-header-subtitle{
    line-height: 19px;
  }
}
.card-content{
  margin-bottom: 16px;
  .card-title{
    h5{
      margin-bottom: 4px;
    }
    small{
      font-size: 12px;
      color:$gray-600;
    }
  }
  .card-text{
    font-size: 14px;
  }
  ul{
    list-style: inside;
  }
  .btn-primary{
    width: 176px;
    background: $gray-100;
    border: 1px solid $gray-400;
  }
}
.work-number{
  font-size: 12px;
  color: $gray-600;
}
.task-title {
    font-size: 12px;
    p{
      margin-top: 12px;
    }
}
.tast-content{
  font-weight: 900;
  small{
    font-size: 12px;
    color: $gray-600;
  }
}