<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="sidebar p-32 d-flex flex-column justify-content-between">
      <div class="sidebar-top">
        <h1 class="logo mb-32">
        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg" alt="logo">
        </h1>
        <ul clas="nav">           
            <li class="mb-26"><a href="#"><i class="material-icons mr-16">
              analytics
            </i>Dashboard</a></li>
            <li class="mb-26"><a href="#"><i class="material-icons mr-16">
              question_answer
            </i>Question</a></li>
            <li class="mb-26"><a href="#"><i class="material-icons mr-16">
              assignment
            </i>Assignment</a></li>
            <li class="mb-26"><a href="#"><i class="material-icons mr-16">
              video_library
            </i>Course</a></li>
            <li class="mb-26"><a href="#"><i class="material-icons mr-16">
              people_alt
            </i>Admin</a></li>
            <li class="mb26"><a href="#"><i class="material-icons mr-16">
              settings
            </i>Settings</a></li>
        </ul>
      </div>
      <div class="user d-flex align-items-center">
            <div class="pic mr-16">
              <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt="userPhoto" class="circle" style="width: 40px;height: 40px;">
            </div>
          <div class="user-info mt-auto p-2 bd-highlight">
            <p>Andy Chen</p>
            <p class="user-text">andy0401@mail.com</p>
          </div>
      </div>
</div>




        
    </div>
      

    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>